#cloud-site .logo-standard-new {
  background-image: url('/images/sprites/product-logos-new.png');
  height: 72px;
  width: 80px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), not all {
  #cloud-site .logo-standard-new {
    background-image: url('/images/sprites/product-logos-new_2x.png');
    background-size: 344px 400px;
  }
}

#cloud-site .hero .logo-standard-new  {
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  z-index: 1
}

#cloud-site .logo-standard-new {
  overflow: hidden;
  text-indent: -3000px;
  background-repeat: no-repeat;
}

.logo-machine-learning {
  background-position: 0px 0px;
}

.logo-support {
  background-position: -176px 0px;
}

.logo-virtual-network {
  background-position: -264px 0px;
}

.logo-iam {
  background-position: 0px -83px;
}

.logo-spanner {
  background-position: -88px -83px;
}

.logo-dns {
  background-position: -176px -83px;
}

.logo-cloud-cache {
  background-position: -264px -83px;
}

.logo-api {
  background-position: 0px -164px;
}

.logo-inter-connect {
  background-position: -176px -164px;
}

.logo-speech-api {
  background-position: 0px -247px;
}

.logo-cdn {
  background-position: -88px -247px;
}

.logo-vision-api {
  background-position: -176px -247px;
}

.logo-load-balancing {
  background-position: -264px -247px;
}

.logo-monitoring {
  background-position: 0px -327px;
}

.logo-trace {
  background-position: -88px -327px;
}

.logo-stackdriver {
  background-position: -164px -327px;
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 780px) {
  #cloud-site .hero .logo-standard-new {
    display: none;
  }
}
